# <center>Assignment

Download the file `athlete_events.csv` The dataset has the following features:

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [2]:
import pandas as pd
import os

In [7]:
# Change the path to the dataset file if needed. 
file_path=""
PATH = os.path.join(file_path,'athlete_events.csv')

In [8]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1988 Olympics?__

In [9]:
# You code here
ynggroup = data[(data['Year']==1988)].groupby('Sex')["Age"].min()

In [10]:
print('Answer:')
for k,v in ynggroup.items():
    print("Youngest {} on 1988 Olympics is {} years old;".format('male' if k=='M' else 'female',int(v)))

Answer:
Youngest female on 1988 Olympics is 11 years old;
Youngest male on 1988 Olympics is 12 years old;

__2. What was the percentage of female basketball players among all the female participants of the 2012 Olympics? Round the answer to the first decimal.__

*Hint:* drop duplicate athletes where necessary to count each athlete just once. This applies to other questions too.

In [11]:
# You code here
fem2012 = data[(data['Year']==2012) & (data['Sex']=='F')]
prcnt = round(len(fem2012[fem2012['Sport']=='Basketball'].drop_duplicates(subset=['ID']))/len(fem2012.drop_duplicates(subset=['ID']))*100,1)

In [12]:
print('Answer: {}% among all the female participants of the 2012 Olympics are basketball players'.format(prcnt))

Answer: 3.1% among all the female participants of the 2012 Olympics are basketball players

__3. What are the mean and max of height for female tennis players who participated in the 1988 Olympics? Round the answer to the first decimal.__

In [13]:
# You code here
femtenn1988 = data[(data['Year']==1988) & (data['Sex']=='F') & (data['Sport']=='Tennis') ].drop_duplicates(subset=['ID'])

In [14]:
print('Answer: 1988 Olympics,female tennis players: mean heght:{}cm, max heght:{}cm'.format(round(femtenn1988['Height'].mean(),1),round(femtenn1988['Height'].max(),1)))

Answer: 1988 Olympics,female tennis players: mean heght:171.1cm, max heght:190.0cm

__4. Find the heaviest athlete among 1988 Olympics participants. What sport did he or she do?__

In [16]:
# You code here
heaviest = data[(data['Year']==1988)].nlargest(n=1, columns=['Weight'])

In [17]:
print('Answer: sport of the heaviest athlete ({}) among 1988 Olympics is {}'.format(heaviest['Name'].to_string(index=False),heaviest['Sport'].to_string(index=False)))

Answer: sport of the heaviest athlete (Ji Zubrick) among 1988 Olympics is Weightlifting

__5. How many times did John Aalberg participate in the Olympics held in different years?__

In [18]:
# You code here
aalbergcnt = len(data[(data['Name']=='John Aalberg')]['Year'].drop_duplicates())
#aalberg_opt2 = data[(data['Name']=='John Aalberg')]['Year']

In [19]:
print('Answer: John Aalberg participated in {} Olympic games'.format(aalbergcnt))
#print('Answer option 2: John Aalberg participated {} time(s) in {} Olympic games'.format(len(aalberg_opt2),len(aalberg_opt2.drop_duplicates())))

Answer: John Aalberg participated in 2 Olympic games

__6. How many events did John Aalberg participate in during the Olympics held in Albertville?__

In [20]:
# You code here
aalbergeventscnt = len(data[(data['Name']=='John Aalberg') & (data['City']=='Albertville')])

In [21]:
print('Answer: John Aalberg participated {} events(s) in Albertville'.format(aalbergeventscnt))

Answer: John Aalberg participated 4 events(s) in Albertville

__7. How many gold medals in tennis did the Belarus team win at the 2012 Olympics?__

In [22]:
# You code here
belarusmedals_tennis2012 = len(data[(data['Year']==2012) & (data['NOC']=='BLR') & (data['Medal']=='Gold') & (data['Sport']=='Tennis')])

In [23]:
print('Answer: Belarus won {} gold medal(s) in tennis in 2012 olympics'.format(belarusmedals_tennis2012))

Answer: Belarus won 2 gold medal(s) in tennis in 2012 olympics

__8. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__

In [24]:
# You code here
spain_medals = data[(data['Year']==2016) & (data['NOC']=='ESP')]['Medal'].count()
italy_medals = data[(data['Year']==2016) & (data['NOC']=='ITA')]['Medal'].count()

In [25]:
print('Answer: {} ({} against {})'.format(True if spain_medals<italy_medals else False,spain_medals,italy_medals ))

Answer: True (45 against 72)

__9. What is the absolute difference between the number of unique sports at the 1988 Olympics and 2002 Olympics?__

In [26]:
# You code here
uniquesports1988 = data[(data['Year']==1988)]['Sport'].nunique()
uniquesports2002 = data[(data['Year']==2002)]['Sport'].nunique()

In [27]:
print('Answer: difference between number of sports in 1988 ({}) and in 2002 ({}) is {}'.format(uniquesports1988,uniquesports2002,uniquesports1988-uniquesports2002))

Answer: difference between number of sports in 1988 (37) and in 2002 (15) is 22

__10. Who won the highest number of medals overall?__
    
*Hint*: country

In [28]:
# You code here
num_of_medals_per_country = data.groupby("NOC")["Medal"].count()
cntry_with_max = num_of_medals_per_country[num_of_medals_per_country==num_of_medals_per_country.max()]

In [29]:
print('Answer: countries with highest number of medals overall:')
for k,v in cntry_with_max.items():
    print('   Country: {}; count of medals: {}'.format(k,v))

Answer: countries with highest number of medals overall:
   Country: USA; count of medals: 5637